{% extends 'chat/home.html' %}
{% block contents %}
    <h1> working </h1>
        {% comment %} <form action= "{% url 'chat-room'  %}">
        <div class="form-group">
            <input  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Room">
            <small id="emailHelp" class="form-text text-muted">Type anything and it will take you to that room.</small>
        </div>
   
        <button type="submit"  class="btn btn-primary">Submit</button>
    </form> {% endcomment %}
{% endblock contents %}
